<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Realizados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJp5Fjr5F5XBz3z5nYY5TCzM5S5E5TN4F5I5D5T5C5M5M5N5O5Q=="
    crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4 mb-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Pedidos Realizados</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Data/Hora</th>
                                <th scope="col">Pedido</th>
                                <th scope="col">Itens do Pedido</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                           <!---->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-eOJp5Fjr5F5XBz3z5nYY5TCzM5S5E5TN4F5I5D5T5C5M5M5N5O5Q==" crossorigin="anonymous"></script>
</body>
</html>
