<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>NavBar Home</title>
  <meta charset="utf-8"/>
  <meta name="description" content="Responsive Fixed Nav Bar" />
  <meta name="keywords" content="Fluid, Responsive, responsive, responsive web design, responsive design, layout, css, html, web development, web design"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <link rel="stylesheet" href="../static/css/home.css"/>
  
</head>
<body>

  <div id="pagewrap">

    <header id="main">
      <h1>Fixed Nav Bar Demo</h1>
    </header>

    <nav>
      <ul>
        <li><a href="Adm.html">Home</a></li>
        <li><a href="fun.html">Funcionário</a></li>
        <li><a href="produto.html">Produtos</a></li>
        <li><a href="cupom.html">Cupons</a></li>
      </ul>
    </nav>


    
 

<script src="../static/js/home.js"> </script>

</body>
</html>