<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cupom </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   
    <link rel="stylesheet" href="../static/css/home.css"/>
</head>

<body>

    <div id="pagewrap">

        <header id="main">
          <h1>Fixed Nav Bar Demo</h1>
        </header>
    
        <nav>
          <ul>
            <li><a href="Adm.html">Home</a></li>
            <li><a href="fun.html">Funcionário</a></li>
            <li><a href="produto.html">Produtos</a></li>
            <li><a href="cupom.html">Cupons</a></li>
          </ul>
        </nav>
    

    <h3 class="bg-secondary text-white p-3">CUPOM</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </br>

                <h4 class="text-success text-center">Cadastrar Cupom</h4>
                <br />
                <form id="cupomForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="numero">
                                        <strong>
                                            Numero Cupom
                                        </strong>
                                    </label>
                                    <input type="text" value="" id="numero" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="gerado">
                                        <strong>
                                            Data Gerado
                                        </strong>
                                    </label>
                                    <input type="date" value="" id="gerado" class="form-control"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" required>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="validado">
                                        <strong>
                                            Data Validado
                                        </strong>
                                    </label>
                                    <input type="date" value="" id="validado" class="form-control"
                                        pattern="^([0-9]{10,10})+$" required>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="valor">
                                        <strong>
                                            Valor
                                        </strong>
                                    </label>
                                    <input type="text" value="" id="valor" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-self-end">
                                <div class="form-group">
                                    <input type="submit" value="Cadastrar" id='submitBtn'
                                        class="btn btn-primary col-auto">
                                    <input type="button" value="Atualizar" id="updateBtn"
                                        class="btn btn-primary d-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-12">
                <h4 class="text-success text-center">Lista de Cupom</h4>
                <br />
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Cupom</th>
                            <th class="text-center">Data Geração</th>
                            <th class="text-center">Validade</th>
                            <th class="text-center">Valor Desconto</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="cupInfo">

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script src="../static/js/cupom.js"> </script>
</body>

</html>