<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cupom </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
</head>

<body>
    <div class="menu">
        <div class="row">
            <div class="col-md-6 card-modal h-2">
                <h4 class="text-center title">Lista de Produtos</h4>

                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 5rem; height: 5rem;">
                            <img class="card-img-top" src="../static/assets/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Teste</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 5rem; height: 5rem;">
                            <img class="card-img-top" src="../static/assets/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Teste</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="card" style="width: 5rem; height: 5rem;">
                            <img class="card-img-top" src="../static/assets/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Teste</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="card" style="width: 5rem; height: 5rem;">
                            <img class="card-img-top" src="../static/assets/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Teste</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-5 card-modal h-3">
                <div class="row2">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center title">Lista de Cupons</h4>
                            <br>
    
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center">Cupom</th>
                                        <th class="text-center">Validade</th>
                                        <th class="text-center">Valor Desconto</th>
                                   
                                    </tr>
                                </thead>
                                <tbody id="cupInfo">
                                    <tr>
                                        <th class="text-center">o8701842092</th>
                                        <th class="text-center">2023-04-27</th>
                                        <th class="text-center">R$35,99</th>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                </div>
            </div>
                    </div>
                </div>



            </div>

            <div class="card-modal h-1">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center title">Lista de Pedidos</h4>
                        <br>

                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">Pedido</th>
                                    <th class="text-center">Descrição</th>
                                    <th class="text-center">Horario</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody id="cupInfo">
                                <tr>
                                    <th class="text-center">#1253</th>
                                    <th class="text-center">Calabresa, Mussarela...</th>
                                    <th class="text-center">22:30</th>
                                    <th class="text-center">R$ 98,00</th>
                                    <th class="text-center">
                                        <div>
                                            <i class="fa fa-check" style="color:green">
                                            </i>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <script src="../static/js/cupom.js"> </script> -->
</body>

</html>