<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">

    <title>Login</title>
</head>
<body>

    <div class="login-container">
        <form>
          <h1>Login - Pizzaria</h1>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="password">Senha:</label>
          <input type="password" id="password" required>
          <i class="fa fa-eye-slash" id="toggle-password"></i>
          <button type="submit">Entrar</button>
          <a href="#" id="forgot-password-link">Esqueci a senha</a>
          <a href="#" id="register-link">Cadastre-se</a>
        </form>
        <form id="forgot-password-form" style="display: none;">
          <h1>Recuperar senha</h1>
          <p>Insira o email cadastrado abaixo e enviaremos um link para você redefinir sua senha.</p>
          <label for="forgot-password-email">Email:</label>
          <input type="email" id="forgot-password-email" name="email" required>
          <button type="submit">Enviar</button>
          <a href="#" id="back-to-login-link">Voltar para o login</a>
        </form>
      </div>

      <script src="../static/js/login.js"></script>
    
</body>
</html>