<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> pedido </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="Stylesheet" href="../static/css/pagamento.css">
	<link rel="Stylesheet" href="../static/css/home.css">
</head>

<body>
    <div id="pagewrap">

  

        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cliente.html">Clientes</a></li>
            <li><a href="pedido.html"> Realizar Pedido</a></li>
            <li><a href="pagamento.html">Pedidos</a></li>
          </ul>
        </nav>

		<h3 class="bg-secondary text-white p-3 ">CLIENTES</h3>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
            <br />
            
                <h4 class="text-success text-center">Lista de pedidos</h4>
                <br />
                
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">id</th>
                            <th class="text-center">Nome do Cliente</th>
							<th class="text-center">Pizzas</th>
                            <th class="text-center">descriçao</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="stdInfo">

                    </tbody>
                </table>
                

        </div>
    </div>

    <script src="../static/js/cupom.js"> </script>
</body>

</html>