<!DOCTYPE html>
<html>
<head>
	<title>Formulário de Pedido - Página 2</title>
	<link rel='stylesheet' href='../static/css/pagamento.css'>
	<script src="../static/js/pagamento.js"></script>
</head>
<body>
	<div class="container">
		<h1>Formulário de Pedido - Página 2</h1>
		<div class="forms-container">
			<form id="form-servico">
				<h2>Serviço</h2>
				<label for="nome-servico">Nome:</label>
				<input type="text" id="nome-servico" name="nome-servico" required>

				<label for="descricao-servico">Descrição:</label>
				<input type="text" id="descricao-servico" name="descricao-servico" required>

				<label for="valor-servico">Valor:</label>
				<input type="text" id="valor-servico" name="valor-servico" required>

				<input type="submit" value="Adicionar Serviço">
			</form>

			<form id="form-forma-pagamento">
				<h2>Forma de Pagamento</h2>
				<label for="tipo-pagamento">Tipo de Pagamento:</label>
				<input type="text" id="tipo-pagamento" name="tipo-pagamento" required>

				<label for="descricao-pagamento">Descrição:</label>
				<input type="text" id="descricao-pagamento" name="descricao-pagamento" required>

				<label for="id-cupom">ID do Cupom:</label>
				<input type="text" id="id-cupom" name="id-cupom">

				<label for="valor-pagamento">Valor:</label>
				<input type="text" id="valor-pagamento" name="valor-pagamento" required>

				<label for="subtotal-pedido">Subtotal do Pedido:</label>
				<input type="text" id="subtotal-pedido" name="subtotal-pedido" required>

				<input type="submit" value="Adicionar Forma de Pagamento">
			</form>
		</div>

		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>ID do Cliente</th>
						<th>Nome</th>
						<th>Logradouro</th>
						<th>Complemento</th>
						<th>Número</th>
						<th>Data</th>
						<th>ID do Pedido</th>
						<th>ID do Produto</th>
						<th>Quantidade</th>
						<th>Descrição</th>
						<th>Nome do Serviço</th>
						<th>Descrição do Serviço</th>
						<th>Valor do Serviço</th>
						<th>Tipo de Pagamento</th>
						<th>Descrição do Pagamento</th>
						<th>ID do Cupom</th>
						<th>Valor do Pagamento</th>
						<th>Subtotal do Pedido</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="cliente-id"></td>
						<td id="cliente-nome"></td>
						<td id="cliente-logradouro"></td>
						<td id="cliente-complemento"></td>
						<td id="cliente-complemento"></td>
						<td id="cliente-numero"></td>
						<td id="data-pedido"></td>
						<td id="pedido-id"></td>
						<td id="produto-id"></td>
						<td id="produto-quantidade"></td>
						<td id="produto-descricao"></td>
						<td id="servico-nome"></td>
						<td id="servico-descricao"></td>
						<td id="servico-valor"></td>
						<td id="pagamento-tipo"></td>
						<td id="pagamento-descricao"></td>
						<td id="pagamento-id-cupom"></td>
						<td id="pagamento-valor"></td>
						<td id="pedido-subtotal"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

