<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="../static/css/home.css"/>
  
  <title>Produto</title>
</head>
<body>

    <div id="pagewrap">

        <header id="main">
          <h1>Fixed Nav Bar Demo</h1>
        </header>
    
        <nav>
          <ul>
            <li><a href="Adm.html">Home</a></li>
            <li><a href="fun.html">Funcionário</a></li>
            <li><a href="produto.html">Produtos</a></li>
            <li><a href="cupom.html">Cupons</a></li>
          </ul>
        </nav>
    

  <h3 class="bg-secondary text-white p-3 ">PRODUTO</h3>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <a class="voltar" href="../templates/Adm.html"></a>

          </br>

              <h4 class="text-success text-center">Cadastrar Produtos</h4>
              <br />
              <form id="produtoForm">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm">
                              <div class="form-group">
                                  <label for="nome">
                                      <strong>
                                          Nome
                                      </strong>
                                  </label>
                                  <input type="text" value="" id="nome" class="form-control" required>
                              </div>
                          </div>
                          <div class="col-sm">
                              <div class="form-group">
                                  <label for="descrição">
                                      <strong>
                                          Descrição
                                      </strong>
                                  </label>
                                  <input type="text" value="" id="descrição" class="form-control" required>
                              </div>
                            </div>

                          <div class="col-sm">
                              <div class="form-group">
                                  <label for="valor">
                                      <strong>
                                          Valor
                                      </strong>
                                  </label>
                                  <input type="text" value="" id="valor" class="form-control">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col align-self-end">
                              <div class="form-group">
                                  <input type="submit" value="Cadastrar" id='submitBtn'
                                      class="btn btn-primary col-auto">
                                  <input type="button" value="Atualizar" id="updateBtn"
                                      class="btn btn-primary d-none">
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="row">
          <br />
          <div class="col-md-12">
              <h4 class="text-success text-center">Lista de Produtos</h4>
              <br />
              <table class="table table-bordered table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th class="text-center">Nome</th>
                          <th class="text-center">Descrição</th>
                          <th class="text-center">Valor</th>
                          <th class="text-center">Ações</th>
                      </tr>
                  </thead>
                  <tbody id="prodInfo">

                  </tbody>
              </table>
          </div>

      </div>
  </div>

  <script src="../static/js/produto.js"> </script>

</body>
</html>