.title {
    color: #140d0d
}

.upper {
    text-transform: uppercase;
    font-size: 19px;
}

.custom-file-label {
    cursor: pointer;
    padding: 4px 12px; /* Diminuído para 4px */
    background-color: #e9ecef;
    border-radius: 4px;
  }
  
  .custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  .custom-file-input:focus + .custom-file-label {
    outline: dotted;
  }
  
  .custom-file-input:active + .custom-file-label {
    background-color: #cfd4d9;
    margin-top: 10px; /* Descido em 4px */
  }
  