.items-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  /* Defina a largura máxima desejada para os itens */

}

.item {
  width: 280px;
  height: 100px;
  margin: 8px 2px; 
  padding: 20px;
  display: flex;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #b9b2b2;
  flex-direction: row;
  align-items: center;
}

.item--name {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.item--img {
  width: 80px;
  height: 100px;
  object-fit: cover;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  /* Alinha verticalmente a imagem ao centro */
}

.item--content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item--details {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.item--details>div {
  margin-right: 10px;
}

.item--tamn,
.item--qtd,
.item--price {
  font-size: 13px;
  display: inline;
  /* Faz todos os elementos ficarem na mesma linha */
  margin-right: 16px;
  /* Adiciona margem entre os elementos */
}