<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pagamento.css" />
    <title>Pedido</title>
</head>
<body>
    <div class="background">
        <div class="search-bar">
          <input type="text" placeholder="Pesquisar Pedido">
          <button type="submit">Buscar</button>
        </div>
        <table>
          <thead>
            <tr>
              <th>Número do Pedido</th>
              <th>Data do Pedido</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12345</td>
              <td>01/05/2023</td>
              <td>Entregue</td>
            </tr>
            <tr>
              <td>67890</td>
              <td>02/05/2023</td>
              <td>Cancelado</td>
            </tr>
            <tr>
              <td>24680</td>
              <td>03/05/2023</td>
              <td>Em Andamento</td>
            </tr>
          </tbody>
        </table>
      </div>
    <script src="../static/js/pagamento.js"> </script>
</body>
</html>