<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Página com Etapas de Processo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-r20LgwzE4SRqK9XEQG7Oc4nm+DfS8h2jKtiMI+Dnk+ucJsE4f4lqX9jlBK+hF+pCvtmfj/oZYbMvftEphOruw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/pedido.css">
</head>

<body>
  <div class="progress-bar">
    <div class="progress"></div>
  </div>
  <div class="content">
    <div class="step active">
      <h2>Passo 1 - Informações do Cliente</h2>
      <br>
      <form id="step1-form">
        <div>
          <label for="client-name">Nome do Cliente:</label>
          <div class="search-bar">
            <input type="text" id="client-name" name="client-name" placeholder="Pesquisar" >
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div>
          <label for="delivery-time">Data e Hora:</label>
          <input type="datetime-local" id="delivery-time" name="delivery-time" >
        </div>
        <div>
          <label>Retirada ou Entrega:</label>
          <label for="delivery-option-retirada">
            <input type="radio" id="delivery-option-retirada" name="delivery-option" value="retirada" checked> Retirada
          </label>
          <label for="delivery-option-entrega">
            <input type="radio" id="delivery-option-entrega" name="delivery-option" value="entrega"> Entrega
          </label>
        </div>
      </form>
    </div>

    <div class="step" id="step2">
    <form>
      <h2>Passo 2 - Produtos</h2>
      <div class="models">
        <div class="pizza-item">
            <a href="">
                <div class="pizza-item--img"><img src="" /></div>
                <div class="pizza-item--add">+</div>
            </a>
            <div class="pizza-item--price"></div>
            <div class="pizza-item--name"></div>
            <div class="pizza-item--desc"></div>
        </div>
        <div class="cart--item">
            <img src="" />
            <div class="cart--item-nome"></div>
            <div class="cart--item--qtarea">
                <button class="cart--item-qtmenos">-</button>
                <div class="cart--item--qt">1</div>
                <button class="cart--item-qtmais">+</button>
            </div>
        </div>
    </div>
    <header>
        <div class="menu-openner"><span>0</span>🍕</div>
    </header>
    <main>
        <h1>Pizzas</h1>
        <div class="pizza-area"></div>
    </main>
    <aside>
        <div class="cart--area">
            <div class="menu-closer">❌</div>
            <h1>Suas Pizzas</h1>
            <div class="cart"></div>
            <div class="cart--details">
              
        <div>
          <label for="description">Descrição:</label>
          <textarea id="description" name="description" rows="4" cols="50"></textarea>
        </div>
                <div class="cart--totalitem subtotal">
                    <span>Subtotal</span>
                    <span></span>
                </div>
                <div class="cart--totalitem desconto">
                    <span>Desconto (-10%)</span>
                    <span></span>
                </div>
                <div class="cart--totalitem total big">
                    <span>Total</span>
                    <span></span>
                </div>
        
            </div>
        </div>
    </aside>
    <div class="pizzaWindowArea">
        <div class="pizzaWindowBody">
            <div class="boxBack">
                <div class="pizzaInfo--cancelMobileButton">❌</div>
            </div>
            <div class="pizzaBig">
                <img src="" />
            </div>
            <div class="pizzaInfo">
                <h1>--</h1>
                <div class="pizzaInfo--desc"></div>
                <div class="pizzaInfo--sizearea">
                    <div class="pizzaInfo--sector">Tamanho</div>
                    <div class="pizzaInfo--sizes">
                        <div data-key="0" class="pizzaInfo--size">PEQUENA <span></span></div>
                        <div data-key="1" class="pizzaInfo--size">MÉDIO <span></span></div>
                        <div data-key="2" class="pizzaInfo--size selected">GRANDE <span></span></div>
                    </div>
                </div>
                <div class="pizzaInfo--pricearea">
                    <div class="pizzaInfo--sector">Preço</div>
                    <div class="pizzaInfo--price">
                        <div class="pizzaInfo--actualPrice"></div>
                        <div class="pizzaInfo--qtarea">
                            <button class="pizzaInfo--qtmenos">-</button>
                            <div class="pizzaInfo--qt">1</div>
                            <button class="pizzaInfo--qtmais">+</button>
                        </div>
                    </div>
                </div>
                <div class="pizzaInfo--addButton" type="submit"> Adicionar ao carrinho</div>
                <div class="pizzaInfo--cancelButton" type="reset">Cancelar</div>
            </div>
        </div>
    </div>
  </form>
    <script type="text/javascript" src="../static/js/pizzas.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

      
    </div>

    <div class="step" id="step3">
      <h2>Etapa 3 - Pagamento e Resumo do Pedido</h2>
      <form>
        <h3>Forma de Pagamento</h3>
        <div>
          <select name="payment-method" id="payment-method">
            <option value="cash">Dinheiro</option>
            <option value="card">Cartão de Debito</option>
            <option value="card">Cartão de Credíto</option>

          </select>
        </div>

        <h3>Resumo do Pedido</h3>
        <table>
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço Unitário</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Produto 1</td>
              <td>2</td>
              <td>R$ 10,00</td>
              <td>R$ 20,00</td>
            </tr>
            <tr>
              <td>Produto 2</td>
              <td>1</td>
              <td>R$ 15,00</td>
              <td>R$ 15,00</td>
            </tr>
            <tr>
              <td>Produto 3</td>
              <td>3</td>
              <td>R$ 5,00</td>
              <td>R$ 15,00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">Total</td>
              <td>R$ 50,00</td>
            </tr>
          </tfoot>
        </table>


      </form>
    </div>

    <div class="button-container">
      <button id="prev-button" class="disabled">Anterior</button>
      <button id="next-button">Próximo</button>
    </div>
  </div>
  <script src="../static/js/pedido.js"></script>
</body>

</html>