
.content {
  flex: 1;
  height: 100%;
  margin-top: -40px;
}


iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content iframe {
  border: none;
  flex: 1;
  width: 100%;
  height: 600px; /* altura fixa para o iframe */
  overflow: auto !important; /* adiciona scroll somente no iframe */
}


/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  /* Remova a barra de rolagem da página principal */
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

.navbar {
    padding: 1px 10px;
    background: #000000;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

::after, ::before {
  box-sizing: content-box !important;
}


.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Remova a barra de rolagem da div wrapper */
}

#sidebar {
  min-width: 240px;
  max-width: 250px;
  background: #e33030;
  color: #060505;
  transition: all 0.3s;
  height: 100%; /* Faça a barra lateral ocupar toda a altura da div wrapper */
  
}



#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 23px;
    background: #e32828;
}

#sidebar ul.components {
    padding: 75px 0;
    border-bottom: 1px solid #47748b;
    height: auto !important;
}

#sidebar ul p {
    color: #000000;
    padding: 10px;
    font-size: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(255, 255, 255) !important;
    background: #d96868;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #776060;
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
   color: #000000 !important;
    text-decoration: none ;
    background-color: transparent;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
    margin-top: 15px;

}

ul.CTAs a {
    text-align: center;
    /*font-size: 0.5em !important; */
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #47748b;
    color: #fff;
}

a.article,
a.article:hover {
    background: rgb(245, 243, 243) !important;
    color: #f1eded !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
   
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}


.profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    overflow: hidden;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
  }
  
  .home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .container {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  
  .square {
    height: 256px;
    background-color: #ccc;
    margin-bottom: 20px;
    box-sizing: border-box; /* inclui a largura da borda e do padding na largura total do elemento */
  }
  
  .half-width {
    width: calc((100% - 20px) / 2); /* largura igual para os dois retângulos */
    float: left;
    margin-right: 20px;
    margin-top: 40px;
    box-sizing: border-box; /* inclui a largura da borda e do padding na largura total do elemento */
  }
  
  .hall-width {
    width: calc((100% - 20px) / 2); /* largura igual à metade da largura do container */
    float: left;
    box-sizing: border-box; /* inclui a largura da borda e do padding na largura total do elemento */
    margin-top: 40px;
  }
  
  .clearfix {
    clear: both;
  }
  .square.half-width {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #6c6f6c;
  }
  
  .square.half-width h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .square.half-width table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .square.half-width th,
  .square.half-width td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .square.half-width th {
    background-color: #f2f2f2;
  }
  
  .square.half-width .status {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .square.half-width .preparing {
    background-color: #FFC107;
  }
  
  .square.half-width .delivered {
    background-color: #4CAF50;
  }
  
  .square.half-width .cancelled {
    background-color: #F44336;
  }
  
  .square.half-width .ellipsis {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #999;
  }
  
  .square.half-width .ellipsis:hover {
    color: #666;
  }
  
  .square.hall-width {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #6c6f6c;
  }
  
  .square.hall-width table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .square.hall-width th,
  .square.hall-width td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .square.hall-width th {
    background-color: #f2f2f2;
  }
  
  .square.hall-width .status {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .square.hall-width .preparing {
    background-color: #FFC107;
  }
  
  .square.hall-width .delivered {
    background-color: #4CAF50;
  }
  
  .square.hall-width .cancelled {
    background-color: #F44336;
  }
  
  .square.hall-width .ellipsis {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #999;
  }
  
  .square.hall-width .ellipsis:hover {
    color: #666;
  }

  .square.hall-width h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .square.full-width {
    background-color: #fff;
    border: 1px solid #d0d2d0;
    padding: 20px;
    margin-bottom: 1px;
    box-shadow: 0px 0px 5px #6c6f6c;
    justify-content: space-between;
    align-items: center;
    
  }

  
  .clock {
    display: inline-block;
    padding: 2px;
    margin-right: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .card {
    position: absolute;
    width: 350px;
    height: 220px;
    margin: 20px; 
    border-radius: 20px;
    background: linear-gradient(135deg, #0f5707, #f1f0f3);
    margin-left: 530px;
    top: -3px;
}

.card img{
    position: absolute;
    bottom: 0px;/*deixa na altura do card*/
    left: 70%;
    transform: translateX(-50%);
    height: 250px;
    transition: 0.5s;
}
.card:hover img{/*Depois q aperta*/
    left: 60%;
    height: 200px;
}
.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;/*Esconde o conteudo q só aparece quando clica*/
    transition: 0.5s;
}
.card:hover .content{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card .content h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}


@media (max-width:420px){
    .card .content{
        padding: 30px;
    }
    .card:hover img{
        height: 100px;
    }
}
