* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.progress-bar {
  height: 10px;
  background-color: #29d964;
  margin-bottom: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #5cb85c;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.step:not(.active) {
  display: none;
}

.step h2 {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button#next-button {
  background-color: #5cb85c;
}

button#next-button:hover {
  background-color: #449d44;
}

button#prev-button {
  background-color: #aaa;
}

button#prev-button:hover {
  background-color: #999;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type=text],
form input[type=datetime-local] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}

form input[type=text]:focus,
form input[type=datetime-local]:focus {
  outline: none;
  background-color: #ddd;
}

form label[for=client-name]::after {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

form label[for=client-name]:hover::after {
  color: #555;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
}

/* ajuste a largura conforme necessário */
#client-name {
  width: 250px;
}


/* Estilo para o campo de busca */
label[for="product-search"] {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}

.search-box input[type="text"] {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.search-box i {
  margin-left: 5px;
  color: #666;
  font-size: 16px;
}

.search-box i:hover {
  cursor: pointer;
  color: #333;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adicione o espaçamento que desejar entre os elementos */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  flex: 1;
  margin-right: 20px;
}

.product-info h3 {
  font-size: 24px;
  margin: 0;
}

.product-info p {
  margin: 5px 0;
}

.product-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}


.product-options label {
  display: block;
  margin-bottom: 5px;
}

.product-options label input[type="radio"] {
  margin-right: 5px;
}

.add-product-btn {
  padding: 8px 16px;
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;

}

.add-product-btn:hover {
  background-color: #0077aa;
}

.selected-products {
  margin-top: 50px;
}

.selected-products h3 {
  margin-bottom: 20px;
}

.selected-products table {
  border-collapse: collapse;
  width: 100%;
}

.selected-products th,
.selected-products td {
  padding: 10px;
  text-align: center;
}

.selected-products th {
  background-color: #eee;
}

.selected-products tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.selected-products tbody tr:hover {
  background-color: #ddd;
}

.selected-products td .delete-product-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.selected-products td .delete-product-btn:hover {
  background-color: #d32f2f;
}


.description {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description label {
  margin-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  
}

.description textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}

#add-description-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#add-description-btn:hover {
  background-color: #0077aa;
}

/* Estilos para a seção de pagamento e resumo do pedido */
#step3 {
  margin-top: 50px;
}

#step3 h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#step3 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#step3 h3 {
  font-size: 18px;
  margin-top: 30px;
}

#step3 input[type="radio"] {
  margin-right: 10px;
}

#step3 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 16px;
}

#step3 th,
#step3 td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

#step3 th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#step3 tfoot td {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border-color: #666;
}

select option {
  font-size: 16px;
  color: #333;
}

select option:hover {
  background-color: #f2f2f2;
}


