nav {
  background-color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20 20 0 20;
}

nav a {
  color: #333;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}

nav a:hover {
  color: #007bff;
}

/* Estilo do campo de busca */
.Clie {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.Clie label {
  font-size: 18px;
  margin-bottom: 12px;
}

.Clie .campo-busca {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.Clie #buscar-clientes {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 240px;
}

.Clie #btn-buscar {
  padding: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.Clie #box-resultados {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 240px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  max-height: 240px;
  overflow-y: auto;
}

.Clie #box-resultados div {
  padding: 10px;
  cursor: pointer;
}

.Clie #box-resultados div:hover {
  background-color: #eee;
}

/* Estilo do campo de cupom */
.Cupom {
  margin-top: 30px;
  margin-bottom: 25px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.Cupom label {
  font-size: 18px;
  font-weight: initial;
  margin-bottom: 12px;
  margin-right: 20px;
}

.Cupom .campo-cupom {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.Cupom .campo-cupom input[type="text"] {
  border: none;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
}


.Cupom #btn-validar {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Cupom #btn-validar:hover {
  background-color: #0069d9;
}

.Cupom .valido:before {
  content: "\2713";
  color: green;
  font-size: 20px;
  margin-right: 5px;
}

.Cupom .invalido:before {
  content: "\2717";
  color: red;
  font-size: 20px;
  margin-right: 5px;
}


/* Estilo dos campos de retirada e entrega */
.RetiradaEntrega {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.RetiradaEntrega label {
  font-size: 20px;
  margin-bottom: 8px;
}

.RetiradaEntrega .opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RetiradaEntrega .opcoes label {
  font-size: 18px;
  margin-right: 20px;
}

.RetiradaEntrega input[type="radio"] {
  margin-right: 5px;
}

.Busca {
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Busca label {
  font-size: 18px;
  margin-bottom: 8px;
}

.Busca .campo-busca {
  display: flex;
  align-items: center;
}

.Busca input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.Busca button {
  padding: 8px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.Busca button:hover {
  background-color: #0069d9;
}

#dialogo-clientes iframe {
  width: 100%;
  height: 90%;
}

