.form-group {
  padding: 15px;
}

.form-control, .input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 0.2 !important;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

body {
  margin: 20px;
}

#buscar-clientes input[type="text"], #cupom input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  color: #333;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  text-align: center;
  outline: none;
}

#buscar-clientes input[type="text"]::-webkit-input-placeholder, #cupom input[type="text"]::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #bbb;
  text-align: center;
}

#buscar-clientes input[type="text"]::-moz-placeholder, #cupom input[type="text"]::-moz-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #bbb;
  text-align: center;
}

#buscar-clientes input[type="text"]:-ms-input-placeholder, #cupom input[type="text"]:-ms-input-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #bbb;
  text-align: center;
}

#buscar-clientes,
#cupom {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#cupom h2 {
  font-size: 18px;
  margin-bottom: 10px;
}


.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

.search-container {
  float: right;
}

.card-buttons button {
  width: 45%;
  padding: 6px 0;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.card-buttons button:hover {
  background-color: #3e8e41;
}

nav {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
  height: 400px;
  width: 96%;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  width: 250px; /* alteração para diminuir o tamanho do campo */
}

.search-bar button[type="submit"] {
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.product-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
  
}


.product-search-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  height: 300px;
  width: 200px;
  text-align: center;
}

.product-image {
  height: 150px;
  width: 100%;
  margin-bottom: 7px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-button {
  background-color: white;
  border: 1px solid #6c757d;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.product-button:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.product-button:active {
  background-color: white;
  border-color: #343a40;
  color: #343a40;
}

.form-grupo {
  display: flex;
  justify-content: flex-end; /* alinha o conteúdo à direita */
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 20px; /* adiciona um espaço entre o label e o input */
}

input.total {
  width: 120px; /* ajusta a largura do input */
  text-align: right; /* alinha o conteúdo do input à direita */
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 12px;
}

select {
  width: 40%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
}