<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />

</head>

<body>
    <div class="container">
        <p>
            Welcome to the Spring MVC Quickstart application!
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</body>

</html>