<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/js/home.js">
    <link rel="stylesheet" type="text/css" href="/css/step3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<style>
    .container {
        position: relative;
        z-index: 1;
    }
</style>

<body>
    <nav th:fragment="pagamento">
        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container py-1 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">

                                    <div class="col-lg-7">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a class="mb-0 btn btn-previous btn-danger shadow">
                                                <i
                                                    class="fas fa-solid fa-arrow-left d-flex justify-content-between"></i></a>

                                            <strong class="my-auto">
                                                <div>
                                                    <p>ID do Funcionário: <span
                                                            th:text="${session.autenticacaoDto.funcionario.id}" id="funcionarioId"></span>
                                                    </p>

                                                </div>
                                            </strong>

                                        </div>

                                        <hr>
                                        <strong>
                                            <p>Principais Dados do Cliente</p>
                                        </strong>



                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p>Nome: <span id="nome-cliente"></span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Logradouro: <span id="logradouro-cliente"></span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Número da Residência: <span id="numresid-cliente"></span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>CEP: <span id="cep-cliente"></span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Complemento: <span id="complemento-cliente"></span></p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Telefone: <span id="telefone-cliente"></span></p>
                                                </div>
                                            </div>
                                        </div>


                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div class="d-flex">
                                                <strong class="my-auto">
                                                    <p class="mb-0 font-weight-bold">Itens do Pedido</p>
                                                </strong>
                                            </div>



                                        </div>

                                        <div class="items-area"></div>



                                    </div>
                                    <div class="col-lg-5">

                                        <div class="card bg-success text-white rounded-3"
                                            style="max-width: calc(100% - 10px);">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <h5 class="mb-0">Detalhes do Pedido</h5>
                                                    <img src="../assets/logo.png" class="img-fluid rounded-circle"
                                                        style="width: 45px;" alt="Avatar">


                                                </div>


                                                <div class="container">
                                                    <div class="row">
                                                        <label for="pagamento-input">Forma de Pagamento</label>
                                                        <select id="pagamento-input" class="form-control"></select>
                                                    </div>
                                                </div>



                                                <div class="cliente-area"></div>

                                                <hr class="my-4">




                                                <div class="col-12">
                                                    <label for="descricao-final" class="form-label">Observação:</label>
                                                    <textarea id="descricao-final" name="descricao-final"
                                                        class="form-control" required rows="2" cols="25"></textarea>
                                                </div>

                                                <br>

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Serviço</p>
                                                    <p class="mb-2 preco-servico"></p>
                                                </div>



                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Subtotal</p>
                                                    <p class="mb-2 subTotal"></p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Desconto</p>
                                                    <p class="mb-2 cupom"></p>
                                                </div>


                                                <div class="d-flex justify-content-between mb-4">
                                                    <p class="mb-2">Total(Incl. taxas)</p>
                                                    <p class="mb-2 total"></p>
                                                </div>

                                                <button type="button" id="finalizarPedidoBtn"
                                                    class="btn btn-danger btn-block btn-lg">
                                                    <div class="d-flex justify-content-between">
                                                        <span>Finalizar<i
                                                                class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                    </div>
                                                </button>


                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </nav>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/step3.css">



</body>

</html>