<html DOCTYPE>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>

<body>

    <div th:fragment="pedido" id="step" class="step-content">
        <section class="section-products">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="header">
                            <h2>Produtos</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-2" class="single-product">
                            <div class="part-1">
                                <span class="discount">15% off</span>
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-3" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-4" class="single-product">
                            <div class="part-1">
                                <span class="new">new</span>
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-2" class="single-product">
                            <div class="part-1">
                                <span class="discount">15% off</span>
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-3" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-4" class="single-product">
                            <div class="part-1">
                                <span class="new">new</span>
                                <ul>
                                    <li><a href="#"><span class="pizza-half">&#189;</span></a></li>
                                    <li><a href="#"><span class="pizza-full">&#9608;</span></a></li>
                                    <li><a href="#"><span class="details">&#8226;&#8226;&#8226;</span></a></li>

                                </ul>
                            </div>
                            <div class="part-2">
                                <h3 class="product-title">Titulo do Produto</h3>
                                <h4 class="product-price">R$49.99</h4>
                            </div>
                        </div>
                    </div>
                    <!---->

                </div>

            </div>

        </section>
        <div class="col text-right">
            <button class="btn btn-primary btn-next">Próximo</button>
            <button class="btn btn-secondary btn-previous">Anterior</button>
        </div>
    </div>
</body>

</html>